* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 400;
  /* 1.6*10 = 16px */
  font-size: 1.6rem;
  color: whitesmoke;
}

h1,
h2,
p {
  margin: 1.6rem 0;
}

h1 {
  font-weight: 800;
  font-size: 3.6rem;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: black;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Navbar */
.navbar {
  background-color: grey;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.logo {
  max-width: 56px;
  height: auto;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar ul a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Header */
header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  color: #333;
  margin-bottom: 20px;
}
